
@{
    ViewBag.Title = "Blogs | AMCA Auditing Dubai, UAE";
    ViewBag.Keyword = "audit firm in dubai ,top audit firm dubai ,best audit firm dubai ,audit services dubai ,financial auditors dubai ,dubai auditing services ,auditors in dubai ,liquidation firm dubai, company liquidation dubai,business liquidation uae, liquidation services dubai, corporate tax dubai, uae corporate tax ,dubai business tax ,uae business tax, dubai corporate tax regulations, uae tax law, corporate tax filing dubai,dubai corporate tax compliance, bookkeeping services dubai, accounting services dubai, bookkeeping companies uae, accounting firms dubai, best bookkeeping services uae, professional bookkeeping dubai";
    ViewBag.Description = "Dubai Multi Commodities Centre (DMCC) had extended the submission of the Audited Financial Statement (AFS) with financial year-end date 31st of December 2019";
    ViewBag.PageTitle = "Blogs";
    ViewBag.Blogs = "active";
    ViewBag.ogImageUrl = "https://portal.amca.ae/UploadedFile/amcaauditing/Blogs/vat-registration-uae.svg";
}

@model AMCAAuditing.Models.InsightModel

<section>
    <div class="row divider-banner">
        <div class="container">
            <div class="col-md-6">
                <h1 class="h1Heading">
                    @ViewBag.PageTitle
                </h1>
                <ul class="broudcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Pages")">Home</a>
                    </li>
                    <li>
                        Blogs
                    </li>
                </ul>
            </div>
        </div>
        <div class="bannerimg-bg"></div>
    </div>
</section>
<section>
    <div class="row padding-section blogs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Service For</label>
                                @*@Html.DropDownListFor(model => model.ServiceMain, ViewBag.ServiceMain as SelectList, "All", new { @class = "form-control forminput-theme" })*@
                                @Html.DropDownListFor(model => model.ServiceMain, ViewBag.MainServices as SelectList, "All", new { @class = "form-control forminput-theme" })
                            </div>
                        </div>
                    </div>
                    <div id="partial-load"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function SelectedValue() {
        var ServiceType = null;
        ServiceType = this.value;
       
        $.ajax({
            url: "/Pages/BlogSearch",
            type: "GET",
            data: { ServiceType: ServiceType },
            contentType: "application/json; charset=utf-8",
            cache: false,
            headers: {
                'Cache-Control': 'no-cache'
            },
            processData: true,
            success: function (result) {
                document.getElementById("partial-load").innerHTML = result;
            }
        });
    }

    window.onload = function () {
        document.all.ServiceMain.onchange = SelectedValue;
        document.all.ServiceMain.selectedIndex = 0;
        document.all.ServiceMain.onchange();

    };
</script>
<script type="text/javascript">
    $(document).ready(function () {
        history.pushState("", document.title, window.location.origin + "/blogs");
        $("#txtPageName").val("ContactUs");
    })
</script>




