@{
    ViewBag.Title = "Industries we have worked on | AMCA Auditing";
    ViewBag.PageTitle = "Industries we have Worked on";
    ViewBag.Keyword = "industries we have worked on, private equity, financial services, healthcare, power and utilities, restaurants, asset management, production & distribution, advertising, market research, nonprofit & education, travel, tourism & leisure, retail, trade and logistics, consumer and industrial products, industrial metals & mining, automotive & ancillary, oil & gas, food & commodities, technology, media & telecommunication, energy and natural resources, legal advisor & professional services, construction and real estate";
    ViewBag.Description = "The results are innovative business solutions designed for the unique needs of the client.";
    ViewBag.Industries = "active";
    ViewBag.ogImageUrl = "https://amcaauditing.com/img/automobiles.svg";
}

<section>
    <div class="row divider-banner">
        <div class="container">
            <div class="col-md-6">
                <h1 class="h1Heading">
                    @ViewBag.PageTitle
                </h1>
                <ul class="broudcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Pages")">Home</a>
                    </li>
                    <li>
                        Industries
                    </li>
                </ul>
            </div>
        </div>
        <div class="bannerimg-bg"></div>
    </div>
</section>
<section>
    <div class="row padding-section pages-wrap">
        <div class="container">
            <div class="col-md-12">
                <h2 class="middle-heading"><strong>Get in touch with AMCA</strong></h2>
                <p>A member of our staff would always be happy to assist you if you have any questions or concerns. Please feel free to contact us by phone or email, and we will respond as soon as possible.</p>
                <p>In our decade long presence, we provide a wide range of assurance services to companies in the private and public sectors. We are an approved auditor with the Ministry of Economy & authorized tax agency with the Federal Tax Authority. We liaise with all free zone & mainland authorities across the UAE.</p>
                <h3>We specialize in:</h3>
                <ul>
                    <li>VAT Consulting</li>
                    <li>Audit &amp; Assurance</li>
                    <li>Accounting &amp; Bookkeeping</li>
                    <li>Liquidation or De-registration of a Company</li>
                </ul>
            </div>
            <div class="col-md-12 industries">
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/automobiles.svg" title="Automobiles" alt="Automobiles">
                        </div>
                        <div class="col-md-9">
                            Automobiles
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/banking.svg" title="Banking and Capital Markets" alt="Banking and Capital Markets">
                        </div>
                        <div class="col-md-9">
                            Banking and Capital Markets
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/constructionR.svg" title="Construction" alt="Construction">
                        </div>
                        <div class="col-md-9">
                            Construction
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/chemical.svg" title="Chemicals" alt="Chemicals">
                        </div>
                        <div class="col-md-9">
                            Chemicals
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/consumer.svg" title="Consumer Products & Retail" alt="Consumer Products & Retail">
                        </div>
                        <div class="col-md-9">
                            Consumer Products &amp; Retail
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/distribution.svg" title="Distribution" alt="Distribution">
                        </div>
                        <div class="col-md-9">
                            Distribution
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/education.svg" title="Education" alt="Education">
                        </div>
                        <div class="col-md-9">
                            Education
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/entertainment.svg" title="Entertainment" alt="Entertainment">
                        </div>
                        <div class="col-md-9">
                            Entertainment
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/financialS.svg" title="Financial Services" alt="Financial Services">
                        </div>
                        <div class="col-md-9">
                            Financial Services
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/foodCo.svg" title="Food & Beverages" alt="Food & Beverages">
                        </div>
                        <div class="col-md-9">
                            Food &amp; Beverages
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/govt-public.svg" title="Government and Public Sector" alt="Government and Public Sector">
                        </div>
                        <div class="col-md-9">
                            Government and Public Sector
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/hotel.svg" title="Hotel, Tourism and Leisure" alt="Hotel, Tourism and Leisure">
                        </div>
                        <div class="col-md-9">
                            Hotel, Tourism and Leisure
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/healthcare.svg" title="Healthcare" alt="Healthcare">
                        </div>
                        <div class="col-md-9">
                            Healthcare
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/hospitality.svg" title="Hospitality" alt="Hospitality">
                        </div>
                        <div class="col-md-9">
                            Hospitality
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/insurance.svg" title="Insurance" alt="Insurance">
                        </div>
                        <div class="col-md-9">
                            Insurance
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/industriesMet.svg" title="Industrial Metals & Mining" alt="Industrial Metals & Mining">
                        </div>
                        <div class="col-md-9">
                            Industrial Metals &amp; Mining
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/life-sc.svg" title="Life Sciences" alt="Life Sciences">
                        </div>
                        <div class="col-md-9">
                            Life Sciences
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/industriesMet.svg" title="Mining and Metals" alt="Mining and Metals">
                        </div>
                        <div class="col-md-9">
                            Mining and Metals
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/manufacturing.svg" title="Manufacturing" alt="Manufacturing">
                        </div>
                        <div class="col-md-9">
                            Manufacturing
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/technologyM.svg" title="Media" alt="Media">
                        </div>
                        <div class="col-md-9">
                            Media
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/nonprofit.svg" title="Not for Profit" alt="Not for Profit">
                        </div>
                        <div class="col-md-9">
                            Not for Profit
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/oilGas.svg" title="Oil and Gas" alt="Oil and Gas">
                        </div>
                        <div class="col-md-9">
                            Oil and Gas
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/powerU.svg" title="Power and Utilities" alt="Power and Utilities">
                        </div>
                        <div class="col-md-9">
                            Power and Utilities
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/privateE.svg" title="Private Equity" alt="Private Equity">
                        </div>
                        <div class="col-md-9">
                            Private Equity
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/pharma.svg" title="Pharmaceuticals" alt="Pharmaceuticals">
                        </div>
                        <div class="col-md-9">
                            Pharmaceuticals
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/professional.svg" title="Professional Services" alt="Professional Services">
                        </div>
                        <div class="col-md-9">
                            Professional Services
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/paper.svg" title="Paper" alt="Paper">
                        </div>
                        <div class="col-md-9">
                            Paper
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/retailtrade.svg" title="Retail" alt="Retail">
                        </div>
                        <div class="col-md-9">
                            Retail
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/realestate.svg" title="Real Estate" alt="Real Estate">
                        </div>
                        <div class="col-md-9">
                            Real Estate
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/tech.svg" title="Technology" alt="Technology">
                        </div>
                        <div class="col-md-9">
                            Technology
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/telecom.svg" title="Telecommunications" alt="Telecommunications">
                        </div>
                        <div class="col-md-9">
                            Telecommunications
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/transport.svg" title="Transportation" alt="Transportation">
                        </div>
                        <div class="col-md-9">
                            Transportation
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/textile.svg" title="Textile" alt="Textile">
                        </div>
                        <div class="col-md-9">
                            Textile
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
                <div class="col-md-4 sp">
                    <div class="row corporate">
                        <div class="col-md-3">
                            <img src="img/assetM.svg" title="Wealth & Asset Management" alt="Wealth & Asset Management">
                        </div>
                        <div class="col-md-9">
                            Wealth &amp; Asset Management
                        </div>
                    </div>
                </div> <!-- end of col-md-4 -->
            </div>
        </div>
    </div>
</section>

