@media screen and (max-width: 600px){
    p{
        text-align: justify;
    }
    body.body_style_wide {
        padding: 0px;
    }
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .btn-theme{
        padding: 12px 15px 12px 15px;
        font-size: 14px;
    }
    .carousel-inner > .item > .desktop-slider{
        display: none;
    }
    .carousel-inner > .item > .mobile-slider{
        display: block;
    }
    .logo{
        width: 150px;
    }
    header{
        padding-top: 8px;
        .main-header{
            padding: 0px 29px;
            .main-menu {
                display:none;
            }
        }
    }
    .right-t-panel{
        display: none;
        .quick-links{
            .big-List{
                display: none;
            }
        }
        .social-icons{
            display: none;
        }
    }
    .left-t-panel{
        display: none;
    }
    .d-flex{
        display: none;
    }
    .main-slider {
        margin-top: 10px;

        .carousel-caption {
            left: 9%;
            width: 83%;

            .carousal-heading {
                font-size: 20px;
            }

            p {
                display: none;
            }
        }
    }
    .arrow-control{
        right: 28px;
        .outlet-icon{
            height: 30px;
            width: 30px;
            line-height: 35px;
            font-size: 16px;
        }
    }
    .about{
        .about-company{
            padding: 23px 23px;
            .font-22{
                font-size: 14px;
            }
        }
    }
    .mobile-order{
        display: flex;
        flex-direction: column;
        .order-1{
            order: 1;
        }
        .order-2{
            order: 2;
        }
    }
    .mobile-order-ser {
        display: flex;
        flex-direction: column;

        .order-1 {
            order: 1;
        }

        .order-2 {
            order: 2;
        }
    }
    .middle-heading{
        font-size: 24px;
    }
    .services-wrapper{
        .services{
            .header-icon{
                display: block;
                .heading{
                    margin-left: 0px;
                    margin-top: 10px;
                    span{
                        display: inline;
                    }
                }
            }
        }
        .col-md-3{
            margin-bottom: 30px;
        }
        .text-right{
            text-align: left;
        }
        .Mtop-30{
            margin-top: 10px;
        }
    }
    .deviderB {
        height: 2px;
        margin: 10px 0px;
    }
    .padding-section {
        padding: 30px 0px;
    }
    .bg-steps {
        .background {
            background: $pc;
        }

        .right-ad {
            margin-top: 20px;

            .font-24 {
                font-size: 14px;
            }

            .Mtop-40 {
                margin-top: 10px;
            }
        }
    }
    .block{
        display: inline;
    }
    .btn-none{
        opacity: 1;
    }
    .bg-testimonials{
        .testimonials{
            h3{
                font-size: 18px;
            }
            p{
                font-size: 16px;
            }
            h3{
                margin-top: 0px;
            }
        }
        .owl-nav{
            bottom: -24px;
        }
        .font-30{
            font-size: 16px;
        }
    }
    .owl-theme .owl-nav [class*=owl-]{
        height: 30px;
        width: 30px;
        line-height: 25px;
        font-size: 16px;
    }
    .form-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .blogfeeds{
        padding: 30px 0px;
        .oddRow{
            padding: 22px;
            h4{
                font-size: 18px;
                width: auto;
                margin-top: 20px;
            }
        }
        .owl-nav{
            top: -50px;
        }
    }
    .contact-us{
        background: $Lgray;
        .details-wrapper{
            margin-top: 0px;
            .full-row{
                font-size: 14px;
                color: $tc;
                span{
                    display: block;
                }
                a{
                    color: $pc;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .col-md-6{
                margin-top: 30px;
            }
        }
        .col-md-4{
            margin-top: 20px;
            padding-left: 0px;
        }
    }
    .newsletter{
        .about-company{
            padding: 30px;
            .left-under{
                margin-left: 0px;
            }
        }
    }
    .mobile-menu{
        display: block;
        width: 100px;
        position: absolute;
        top: 13px;
        right: 30px;
        .menu-icon{
            width: 100%;
            text-align: right;
            i{
                font-size: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .menu-wrapper{
            width: 100%;
            position: fixed;
            height: 100%;
            top: 0px;
            left: 0px;
            background: #585454;
            z-index: 99;
            overflow-y: scroll;
            display: none;
            .header-menu{
                padding: 2px 0px 0px;
            }
            .navbar-nav{
                 li{
                    font-size: 16px;
                    a{
                        color: $wh;
                        &:hover{
                            background: transparent;
                            color: $pc;
                        }
                    }
                    &:hover{
                        background: transparent;
                    }
                }
                .panel-default{
                    border: 0px;
                    .caret-wrapper{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 19px;
                        height: 25px;
                        background: #333131;
                        width: 25px;
                        text-align: center;
                        line-height: 27px;
                        .caret{
                            margin-left: 0px;
                        }
                    }
                }
                .panel{
                    background: transparent;
                    box-shadow: 0px 0px 0px 0px;
                    margin-bottom: 0px;
                }
                .panel-body {
                    padding: 0px 30px;
                    .navbar-nav{
                        margin: 0px;
                        li{
                            font-size: 13px;
                            a{
                                padding: 4px 0px;
                            }
                        }
                    }
                }
            }
            .nav > li > a:focus, .nav > li > a:hover{
                background: transparent;
                color: $pc;
            }
            .cross-menu{
                padding-top: 20px;
                i{
                    color: $wh;
                    font-size: 30px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .footer-mobile-menu{
        display: inline-block;
        position: fixed;
        bottom: 0px;
        background: $pc;
        width: 100%;
        left: 0px;
        padding: 10px;
        z-index: 9;
        ul{
            display: flex;
            padding: 0px;
            margin: 0px;
            list-style: none;
            li{
                width: 100%;
                display: inline-block;
                text-align: center;
                a{
                    i{
                        font-size: 28px;
                    }
                    color: $wh;
                    span{
                        display: block;
                        font-size: 12px;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .divider-banner{
        padding: 30px 0px;
        h1{
            font-size: 36px;
        }
    }
    .tagline {
        font-size: 12px;
        left: 60px;

        &:before {
            left: -60px;
        }
    }
    .pages-wrap {
        h2 {
            span {
                display: inline;
            }
        }
    }
    .bannerimg-bg{
        display: none;
    }
    .round-arrow {
        height: 60px;
        width: 60px;
        bottom: -30px;
        font-size: 30px;
    }
    .timeline-block {
        min-width: auto;
        display: block;
    }
    .timeline-block li {
        padding-left: 0px;
        margin-bottom: 30px;
    }
    .timeline-block li:nth-child(2n){
        text-align: left;
    }
    .timeline-block li:nth-child(2n) {
        transform: translateY(0px);
    }
    .timeline-block li{
        width: 100%;
    }
    .timeline-wrapper .timeline-block::before {
        display: none;
    }
    .timeline-wrapper .timeline-block li:nth-child(2n)::before{
        display: none;
    }
    .timeline-wrapper .timeline-block li:nth-child(2n) {
        padding-right: 0px;
    }
    .timeline-wrapper .timeline-block li:before{
        display: none;
    }
    .timeline-block li::after{
        display: none;
    }
    .shape {
        display: none;
    }
    .timeline-wrapper .timeline-block li{
        padding-left: 0px;
    }
    .mission-vision {
        .box-top {
            margin-top: 20px;
        }

        h4 {
            font-size: 18px;
            margin-top: 20px;
        }

        .boxes {
            display: none;
        }
    }
    .resp-margin{
        margin-top: 20px;
    }
    .industries {
        .sp {
            margin-top: 20px;
            margin-bottom: 20px;

            .corporate {
                height: auto;
                text-align: center;
                img{
                    width: 80px;
                }
            }
        }
    }
    .job-all-list {
        .pill {
            ul {
                li {
                    display: block;
                    margin-top: 5px;
                }
            }
        }

        .right-section {
            text-align: left;

            .d-flex-job {
                display: block;
                .location{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .msgthankyou {
        width: 300px;
        text-align: center;

        h1 {
            font-size: 40px;
        }

        img {
            margin: 0 auto;
            margin-bottom: 20px;
            width: 60%;
        }

        p {
            strong {
                color: $pc;
            }
        }
    }
}