$bl: #000;
$wh: #fff;
$pc: #caa669;
$sc: #919191;
$tc: #9d9ca4;
$Lgray : #F3F4F4;
$Thcolor : #fff4e2;
$fb: #1877F2;
$yt: #CD201F;
$insta: #E4405F;
$in: #0A66C2;
$fontPc : 'Hind', sans-serif;

$fontSc : 'Playfair Display', serif;