
@{
    ViewBag.Title = "404 page not found";
    Layout = "~/Views/Shared/_ThankyouLayout.cshtml";
   
}
<div class="container">
    <div class="row" style="display: flex;justify-content:center;align-items:center;height: 100vh;">
        <div class="col-12">
            <div class="Mtop-40 text-center">
                <h1 class="display-1">404 </h1>
                <h2 class="text-uppercase">Page Not Found</h2>
                <p class="text-center">It Looks like you're lost...</p>
                <div class="text-center">
                    <img src="~/img/404.jpg"  class="w-100 img-responsive" alt="Page Not Found"/>
                </div>
                <div>
                    <a href="@Url.Action("Index","Pages")" class="btn btn-theme text-uppercase  btn-color-1">Take me out of here</a>
                </div>
                <p class="Mtop-30 text-center"><small>Copyright &copy; @DateTime.Now.Year | All rights reserved <span>AMCAAUDITING</span></small></p>
            </div>
        </div>
    </div>
</div>




